window {
margin: 5px;
border: 3px solid #FFFFFF;
background-color: #000000;
}

#input {
background-color: #000000;
color: #FFFFFF;
box-shadow: none;
border: none;               
}

#input image {
	color: rgba(0,0,0,0);
}

#inner-box {
margin: 0px;
border: 0px solid #000000;
background-color: transparent;
}

#outer-box {
margin: 3px;
border: 0px solid #000000;
background-color: #000000;
}

#scroll {
margin: 5px;
border: 0px solid #FFFFFF;
background-color: #000000;
}

#text {
margin: 0px;
color: #FFFFFF;
}

#entry {
margin: 0px;
color: #FFFFFF;
}

#entry:selected {
  border: 2px solid #FFFFFF;
  background-color: black;
}
