* {
    border:        none;
    border-radius: 0;
    font-family:   Inconsolata;
    font-size:     9;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    color:      rgba(217, 216, 216, 1);

}

window {
    font-weight: bold;
    color:      rgba(217, 216, 216, 1);
    background: #000000;
}
window#waybar.solo {
    font-weight: bold;
    color:      rgba(217, 216, 216, 1);
    background: #3C4C55;

}
#sway-window{
    border: 1px red solid;
}

#workspaces {
    color:	#DBD77F;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    background-color: #000000;
    border: 1px #FFFFFF solid;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}
#mode {
    margin-top: 0;
    margin-left: 12px;
    margin-bottom: 0px;
    background: #616C72; 
}
#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight,#clock {
    margin:     0px 6px 0px 10px;
    padding: 5px;
    /* border-left: 2px red solid; */
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  10px;
}
#battery {

}
#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}
#battery.good{
  color: rgba(32,230,14,.8);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}
#network.wifi {
  color:rgba(32,230,124,.8);
}
#network.disconnected{
  color:orange;
}
